.banner-container {
  display: inline-flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  color: #0077ff;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
